*
!.gitignore
!*.md
!*.sh
!*.c
!*.h
!*.tex
!*.pdf
!Makefile

!HelloWorldLKM

!lab3/
!lab3/main.c
!lab3/build.sh
!lab3/docs/
!lab3/docs/titlepage.tex
!lab3/docs/report.tex
!lab3/docs/out/
!lab3/docs/out/report.pdf

!lab4/
!lab4/linked_list.c
!lab4/linked_list.h
!lab4/CMakeLists.txt
!lab4/docs/
!lab4/docs/out/

